<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <clear />
    <!--设备编码-->
    <add key="DeviceNumber" value="02N2DM72030001" />
    <!--AIS1频率与增益-->
    <add key="Fre1" value="161.975" />
    <add key="Gain1" value="0" />
    <!--AIS2频率与增益-->
    <add key="Fre2" value="162.025" />
    <add key="Gain2" value="0" />
    <!--ACARS1频率与增益-->
    <add key="Fre3" value="131.450" />
    <add key="Gain3" value="0" />
    <!--ACARS2频率与增益-->
    <add key="Fre4" value="131.55" />
    <add key="Gain4" value="0" />
    <!--ACARS3频率与增益-->
    <add key="Fre5" value="127.275" />
    <add key="Gain5" value="0" />
    <!--ACARS4频率与增益-->
    <add key="Fre6" value="133.025" />
    <add key="Gain6" value="0" />
    <!--IP-->
    <add key="RemoteIP" value="192.168.1.10" />
    <add key="RemotePort" value="8090" />
    <add key="LoaclIP" value="192.168.1.12" />
    <add key="LocalPort" value="6888" />
    <!--其他-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>